<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

</div>

<div id="clearance" class="sign-up form">
      
     <ul class="tab-group">
        <li class="tab"><a href="#signup">Sign Up</a></li>
        <li class="tab active"><a href="#login">Sign In</a></li>
      </ul>
      
    <div class="tab-content">
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <%= form_for :session, url: session_path do |form| %>
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>

              <%= form.text_field :email, type: 'email' %>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
  
              <%= form.password_field :password %>
          </div>
          
          <button class="button button-block"/><%= form.submit %></button>
          
          <div class="other-links">
              <% if Clearance.configuration.allow_sign_up? %>
                <%= link_to t(".sign_up"), sign_up_path %>
              <% end %>
                <%= link_to t(".forgot_password"), new_password_path %>
          </div>
          <% end %>

        </div>
        <div id="signup">   
          <h1>Sign Up for Free</h1>
          
          <%= form_for users_path do |form| %>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
        
                  <%= form.text_field :email, type: 'email' %>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
 
              <%= form.password_field :password %>
          </div>
          
          <button type="submit" class="button button-block"/><%= form.submit %></button>
          <div class="other-links">
              <%= link_to t(".sign_in"), sign_in_path %>
            </div>
          <% end %>

        </div>
        
        
        
      </div><!-- tab-content -->
      
</div>

<script >
$('.form').find('input, textarea').on('keyup blur focus', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

    if (e.type === 'keyup') {
      if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
      if( $this.val() === '' ) {
        label.removeClass('active highlight'); 
      } else {
        label.removeClass('highlight');   
      }   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
        label.removeClass('highlight'); 
      } 
      else if( $this.val() !== '' ) {
        label.addClass('highlight');
      }
    }

});

$('.tab a').on('click', function (e) {
  
  e.preventDefault();
  
  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');
  
  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();
  
  $(target).fadeIn(600);
  
});
  </script>




