<section class="result_all_recipes">
  <div class="container menu_search">
    <%= link_to "Gout", gout_recipes_path, :class => "button recipe_tag" %> 
    <%= link_to "Hypertension", hypertension_recipes_path, :class => "button recipe_tag" %>
    <%= link_to "Diabetes", diabetes_recipes_path, :class => "button recipe_tag" %>
    <%= link_to "Weight", weight_recipes_path, :class => "button recipe_tag" %>
  </div>
</div>


<section class="recipes">
  <div class="container">
    <h2 class="title"> What do you want <span>to eat today ?</span><i class="fa fa-comment"></i></h2>

  </div>
  <div class="container cf">
     <% @recipes.each do |recipe|%>
 


    <!-- hardcodded recipes -->

    <div class="recipes-element bounce-up cf">
      <div class="subject development">
        <div >
        <div class="picture" style=" background-image: url('/assets/diab_receipe1.png');">
        </div>


        <p class="comment"><span></span> 0 COMMENTS | <span></span> 0 LIKE</p>
        <h3 class="title_recipes">Nasi Lemak & Cornflake Chicken</h3>
        <div class="text_courant"> by Chef Ravindran a/l Mathavan (Columbia Asia Hospital-Seremban) </div>

        <h6 class="info"><span> COOK TIME : </span></br>45 mins </h6> 
        <h6 class="info"><span> NUTRITION :</span> </br>calories: 333kcal.</br> fat: 10g.</br> carbohydrates: 36g.</br>protein: 24g. </h6> 
        </div>

       <div >
        <%= link_to "take a look", :class => "enrole" %>
        <a class="enrole"> RM15 </a>
        </div>
      </div>
    </div>

     <div class="recipes-element bounce-up cf">
      <div class="subject development">
        <div >

        <%= link_to "take a look", recipe_path(recipe.id) , :class => "enrole" %>
        <%= link_to "by for price", recipe_path(recipe.id) , :class => "enrole" %>

        <div class="picture" style=" background-image: url('/assets/diab_receipe3.png');">

        </div>


        <p class="comment"><span></span> 0 COMMENT | <span></span> 0 LIKE</p>
        <h3 class="title_recipes">Southwest Salmon and Sweet Potatoes</h3>
        <div class="text_courant"> The low-carb dish features salmon, an excellent source of omega-3 fatty acids.  </div>

        <h6 class="info"><span> COOK TIME : </span></br>45 mins </h6> 
        <h6 class="info"><span> NUTRITION :</span> </br>calories: 369kcal.</br> fat: 18g.</br> carbohydrates: 21g.</br>protein: 30g. </h6> 
        </div>

       <div >
        <%= link_to "take a look", :class => "enrole" %>
        <a class="enrole"> RM25 </a>
        </div>
      </div>
    </div>

    <div class="recipes-element bounce-up cf">
      <div class="subject development">
        <div >
        <div class="picture" style=" background-image: url('/assets/diab_receipe2.png');">
        </div>


        <p class="comment"><span></span> 3 COMMENTS | <span></span> 1 LIKE</p>
        <h3 class="title_recipes">Lemon Chicken Breast</h3>
        <div class="text_courant"> Enjoy the zesty flavor of our Lemon Pepper chicken breasts made from all-natural grade A chicken </div>

        <h6 class="info"><span> COOK TIME : </span></br>60 mins </h6> 
        <h6 class="info"><span> NUTRITION :</span> </br>calories: 393kcal.</br> fat: 19.5g.</br> carbohydrates: 3g.</br>protein: 49g. </h6> 
        </div>

       <div >
        <%= link_to "take a look", :class => "enrole" %>
        <a class="enrole"> RM20 </a>
        </div>
      </div>
    </div>

    <div class="recipes-element bounce-up cf">
      <div class="subject development">
        <div >
        <div class="picture" style=" background-image: url('/assets/diab_receipe4.png');">
        </div>


        <p class="comment"><span></span> 15 COMMENTS | <span></span> 100 LIKES</p>
        <h3 class="title_recipes">Nasi dagang & baked fish curry</h3>
        <div class="text_courant"> by Chef Mahmor Abas (Columbia Asia Hospital-Nusajaya) </div>

        <h6 class="info"><span> COOK TIME : </span></br>60 mins </h6> 
        <h6 class="info"><span> NUTRITION :</span> </br>calories: 325kcal.</br> fat: 9g.</br> carbohydrates: 34g.</br>protein: 25g. </h6> 
        </div>

       <div >
        <%= link_to "take a look", :class => "enrole" %>
        <a class="enrole"> RM20 </a>
        </div>
      </div>
    </div>

    <div class="recipes-element bounce-up cf">
      <div class="subject development">
        <div >
        <div class="picture" style=" background-image: url('/assets/diet_receipe1.png');">
        </div>


        <p class="comment"><span></span> 5 COMMENTS | <span></span> 10 LIKES</p>
        <h3 class="title_recipes">Acai Berry Smoothie Bowl</h3>
        <div class="text_courant"> A thick, rich, and creamy acai berry bowl full of antioxidant rich acai berries and raw fruits and vegetables </div>

        <h6 class="info"><span> COOK TIME : </span></br>10 mins </h6> 
        <h6 class="info"><span> NUTRITION :</span> </br>calories: 460kcal.</br> fat: 14g.</br> carbohydrates: 75g.</br>protein: 10g. </h6> 
        </div>

       <div >
        <%= link_to "take a look", :class => "enrole" %>
        <a class="enrole"> RM10 </a>
        </div>
      </div>
    </div>

    <div class="recipes-element bounce-up cf">
      <div class="subject development">
        <div >
        <div class="picture" style=" background-image: url('/assets/diet_receipe2.png');">
        </div>


        <p class="comment"><span></span> 0 COMMENT | <span></span> 75 LIKES</p>
        <h3 class="title_recipes">Greek Yoghurt Egg Salad Sandwich</h3>
        <div class="text_courant"> Lightened up with Greek yogurt, you’ll have a hearty sandwich in minutes. And it doesn’t taste healthy! </div>

        <h6 class="info"><span> COOK TIME : </span></br>10 mins </h6> 
        <h6 class="info"><span> NUTRITION :</span> </br>calories: 358kcal.</br> fat: 11g.</br> carbohydrates: 35g.</br>protein: 24g. </h6> 
        </div>

       <div >
        <%= link_to "take a look", :class => "enrole" %>
        <a class="enrole"> RM15 </a>
        </div>
      </div>
    </div>

    <div class="recipes-element bounce-up cf">
      <div class="subject development">
        <div >
        <div class="picture" style=" background-image: url('/assets/diet_receipe3.png');">
        </div>


        <p class="comment"><span></span> 0 COMMENT | <span></span> 5 LIKES</p>
        <h3 class="title_recipes">Detox 'spa' cucumber water</h3>
        <div class="text_courant"> This refined beverage is typically reserved for classy spa environments, but it can be enjoyed anywhere on the move </div>

        <h6 class="info"><span> COOK TIME : </span></br>10 mins </h6> 
        <h6 class="info"><span> NUTRITION :</span> </br>calories: 51.1kcal.</br> fat: 0.5g.</br> carbohydrates: 13.4g.</br>protein: 14.3g. </h6> 
        </div>

       <div >
        <%= link_to "take a look", :class => "enrole" %>
        <a class="enrole"> RM8 </a>
        </div>
      </div>
    </div>

    <div class="recipes-element bounce-up cf">
      <div class="subject development">
        <div >
        <div class="picture" style=" background-image: url('/assets/diet_receipe4.png');">
        </div>


        <p class="comment"><span></span> 20 COMMENTS | <span></span> 80 LIKES</p>
        <h3 class="title_recipes">Blackberry, coconut and chia seed creamsicles</h3>
        <div class="text_courant"> These vegan popsicles swirl layers of lime-spiked coconut milk with a concentrated blackberry purée. Chia seeds are stirred into the mixture to thicken it and add texture—plus give you a healthy hit of fiber and protein.  </div>

        <h6 class="info"><span> COOK TIME : </span></br>15 mins </h6> 
        <h6 class="info"><span> NUTRITION :</span> </br>calories: 176kcal.</br> fat: 11g.</br> carbohydrates: 19g.</br>protein: 2g. </h6> 
        </div>

       <div >
        <%= link_to "take a look", :class => "enrole" %>
        <a class="enrole"> RM8 </a>
        </div>
      </div>
    </div>



</div>
<div class="container">
 <%= link_to "Add New recipe", new_recipe_path, :class => "button_modal button-block" %>
 </div>
<%end %>

<script>
var $animation_elements = $('.recipes-element');
var $window = $(window);

function check_if_in_view() {
  var window_height = $window.height();
  var window_top_position = $window.scrollTop();
  var window_bottom_position = (window_top_position + window_height);

  $.each($animation_elements, function() {
    var $element = $(this);
    var element_height = $element.outerHeight();
    var element_top_position = $element.offset().top;
    var element_bottom_position = (element_top_position + element_height);

    //check to see if this current container is within viewport
    if ((element_bottom_position >= window_top_position) &&
      (element_top_position <= window_bottom_position)) {
      $element.addClass('in-view');
    } else {
      $element.removeClass('in-view');
    }
  });
}

$window.on('scroll resize', check_if_in_view);
$window.trigger('scroll');
</script>


