<h1> Selected Recipe </h1>

<h2><%= @recipe.title %></h2>
<%= image_tag @recipe.image.url(:medium) %>
<p><%= @recipe.cook_time %><br>
<%= @recipe.nutrition %><br>
<%= @recipe.description %><br>
<%= @recipe.recipe %><br>
<%= @recipe.direction %></p>

<%= link_to "Edit", edit_recipe_path(@recipe) %>
<%= link_to "Home", root_path %>
<%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {Confirm: "Are you sure"} %>