<h1> Selected Recipe </h1>

<h2><%= @recipe.title %></h2>
<%= image_tag @recipe.image.url(:medium) %>
<p><%= @recipe.cook_time %><br>
<%= @recipe.nutrition %><br>
<%= @recipe.description %><br>
<%= @recipe.recipe %><br>
<%= @recipe.direction %></p><br>
<p><%= @recipe.get_upvotes.size %> Like </p>
<p><%= @recipe.get_downvotes.size %>Dislike </p>
<%= link_to "Like", like_recipe_path(@recipe), method: :get %>
<%= link_to "Dislike", dislike_recipe_path(@recipe), method: :get %>

<h2><%= "Comment".pluralize(@recipe.comments.count) %> </h2>
<% @comments.each do |comment| %>
<p> <%= comment.user.email %> </p>
<p> <%= comment.content %> </p>
<% end %>
<%= render 'comments/form' %>



<%= link_to "Edit", edit_recipe_path(@recipe) %>
<%= link_to "Home", root_path %>
<%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {Confirm: "Are you sure"} %>