
<section>

<div id="slider">
  <figure>
    <image>
    <img src="http://www.kmeta.bg/wp-content/uploads/2016/10/hrana2.jpg" alt>
    <img src="http://2.bp.blogspot.com/_dUQtiW6VmHY/TIIt7YO8uHI/AAAAAAAAAcI/lWTB32TE5x4/s1600/gevuldecourgettes1.jpg" alt>
    <img src="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/09/13/healthy-food.jpg" alt>
    <img src="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/full_breakpoints_theme_medicaldaily_desktop_1x/public/2015/04/09/oatmeal-fruit-and-cinnamon.jpg" alt>
    <img src="http://www.kmeta.bg/wp-content/uploads/2016/10/hrana2.jpg" alt>

  </figure>
  <p>SCROLL DOWN</p>
  <a href="#" class="scroll-down" address="true"></a>
   

      <div class="row justify-content-center sur_text">
         <div class="col-12">
           <div class="col-md-12" >
                <%= image_tag("titre.png") %>
                </div> 
         </div>   
      </div>       





</div>

</section>

<section class="doing ok">
    <div class="container attract">
      <div class="row justify-content-md-center">
         <div class="col-12 " id='circle' >
           <div class="col-md-12" >
                <div class="slogan">Healthy food at your door !</div>
                <button id="myBtn" class="btn btn_slogan sharp animated infinite bounce">pick your diet</button>
         </div>   
      </div>       
    </div>

       
       
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Choose a Diet :</h2>
        </div>
        <div class="modal-body">
        <%= link_to "Gout", gout_recipes_path, :class => "button_modal button-block space_modal" %>
        <%= link_to "Hypertension", hypertension_recipes_path, :class => "button_modal button-block space_modal" %>
        <%= link_to "Diabetes", diabetes_recipes_path, :class => "button_modal button-block space_modal" %>        
        <%= link_to "Weight", weight_recipes_path, :class => "button_modal button-block space_modal" %>
      
        </div>
       
      </div>

    </div>

    <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>







    <div class="container space" >
    <div class="row space ">
        <div class="col-6 col-md-4 animation-element slide-left image_carotte">
      
        </div>



        <div class="col col-md-8 ">
            <div class="title">Food <span>= medicine ?</span> </div>
            <div class="row">
                <div class="col-xs-6 txt", style="text-align: justify; width: 100%">What are the common trends of Rosario Schielzeth and the other centenarians that survived more than the age of 100? They lived through the 1918 flu pandemic, the Great Depression, survived both world wars, and most importantly they lived in two simple rules: watch what you eat and stay away from doctors! <br>

                <br>How about medicine like OxyContin, Vicodin, Xanax, Paracetamol, Xanthine to name a few. Do you know what are the blue, pink, white, orange, etc pills that you have been taking every day and night? Are you eating them right? Or are you eating right? Could all these medications been replaced by maintaining healthy diet? <br>

                <br><b>YOU ARE WHAT YOU EAT. </b><br></div>
            </div>
        </div>
    </div>
    </div>





</section>

<section class="how ">
     
    <div class="container">
    <!--Row with three equal columns-->
     <div class="row space ">
        <div class="col-6 col-md-5 ">
            <div class="title">Diet <span>= nasty food ?</span></div>
            <div class="row">
                <div class="col-xs-6 txt", style="text-align: justify; width: 100%">Admit it. Which would you pick: Carrot or Cheeto? Crispy chicken or grilled chicken? We ought to think that healthy food taste so nasty. But is that really the case? <br>

                <br>In fact, healthy food -- <b> REAL food </b> -- actually tastes <i> better </i> than junk food. If you still find that most healthy food tastes nasty, you might not be eating them well. Dont' believe? Think again when was the last time you had the freshest fruits or vegetables from farm. How about organic, fresh, locally grown fruits and vegetables, grass-fed beef, and free-range chicken and eggs tend to taste especially vibrant and flavorful (much more than artificially enhanced foods). <br>
    
                <br><b>YOU ARE WHAT YOU EAT. </b><br></div>
            </div>
        </div>
        <div class="col col-md-7 animation-element slide-right image_circle">
      
        </div>
    </div>
    </div>




</section>







<section class="delivery space">

    <div class="container delivery_container " >
    <div class="row">
        <div class="col-md-6 animation-element slide-left">
          <div class="content">
            <iframe width="545" height="305" src="https://www.youtube.com/embed/r4DOQ6Xhqss?rel=0" frameborder="0" allowfullscreen class="bas"></iframe>
          </div>
        </div>
        <div class="col-md-6">
        <div class="title">Homecook <span> food </span> </div>
            <div class="row">
                <div class="col-xs-12  txt white" style="text-align: justify;">Eat to live or live to eat? In FoodLab we believe that we don't always have to sacrifice flavor for nutrition. Healthy food can be yummy too! <br>
         
                <br>We strive to bring the top chef with the freshest food in town, without compromising the nutrient that required. Be it low carbohydrates, low calories, low fat, etc, you name it, we make it delivered to you, deliciously.<br>

                <br><b>YOU ARE WHAT YOU EAT. </b><br>

                <br>
                </div>
            </div>
        </div>
    </div>
    </div>





</section>

    <script>  
          var $animation_elements = $('.animation-element');
      var $window = $(window);

      function check_if_in_view() {
        var window_height = $window.height();
        var window_top_position = $window.scrollTop();
        var window_bottom_position = (window_top_position + window_height);
       
      $.each($animation_elements, function() {
        var $element = $(this);
        var element_height = $element.outerHeight();
        var element_top_position = $element.offset().top;
        var element_bottom_position = (element_top_position + element_height);
       
          //check to see if this current container is within viewport
          if ((element_bottom_position >= window_top_position) &&
              (element_top_position <= window_bottom_position)) {
            $element.addClass('in-view');
          } else {
            $element.removeClass('in-view');
          }
        });
      }

      $window.on('scroll resize', check_if_in_view);
      $window.trigger('scroll');
    </script>


