

<section class="clear_top">
  <div class="container">
      <h2 class="title_recip">Detox 'spa' cucumber water</h2>
  </div>
</div>

<section class="details">
   <!--Row with two columns divided in 1:2 ratio-->
   <div class="container "> 
    <div class="row ">
      <div class="col-sm-4"><img src="/assets/diet_receipe3.png" height="300" width="320"></div>
        
        <div class="col-sm-4 no-margin"> <p class="title_info">INFORMATIONS ABOUT YOUR DISH :</p>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin"> <span class="glyphicon glyphicon-time"></span> 10 mins<br><span class="glyphicon glyphicon-stats"></span> calories: 51.1kcal. fat: 0.5g. carbohydrates: 13.4g. protein: 14.3g.</div>
            </div>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin", style="text-align: justify;">This refined beverage is typically reserved for classy spa environments, but it can be enjoyed anywhere on the move</div>
            </div>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin", style="text-align: justify;">
                  1. 8 cups of water <br>
                  2. 1 cucumber, wedged or sliced <br>
                  3. 1 lemon, wedged or sliced<br>
                  4. 10 mint leaves <br>
                
                </div>
            </div>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin" style="text-align: justify;">
                  <b>Direction</b><br>
                  1. Combine all ingredients in an airtight container and leave to steep overnight in the fridge. <br>
                  2. Do not allow to sit for longer than 48 hours<br>
                </div>
            </div>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin "> 5 Likes | 0 Dislike </div>
                <%= link_to "Like", like_recipe_path(@recipe), method: :get %>  | 
                <%= link_to "Dislike", dislike_recipe_path(@recipe), method: :get %>
            </div>
      
        </div>
        <div class="col-sm-4 pre_payment_form "> 
            <div class="row full_color">
                <div class="col-m-12 price">RM8 </div>
            </div>


          <form class="space" action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
           <div class="field-wrap">
            <label>
              Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Allergy<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block"/>Order here</button>
          
          </form>
        </div>
     

    </div>
  </div>
</div>


<section class="recipes">
  <div class="container"> 
  



    <%= link_to "Edit", edit_recipe_path(@recipe) %>
    <%= link_to "Home", root_path %>
    <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {Confirm: "Are you sure"} %>


  </div>
</div>

<script> 
$('.pre_payment_form').find('input, textarea').on('keyup blur focus', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

    if (e.type === 'keyup') {
      if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
      if( $this.val() === '' ) {
        label.removeClass('active highlight'); 
      } else {
        label.removeClass('highlight');   
      }   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
        label.removeClass('highlight'); 
      } 
      else if( $this.val() !== '' ) {
        label.addClass('highlight');
      }
    }

});

$('.tab a').on('click', function (e) {
  
  e.preventDefault();
  
  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');
  
  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();
  
  $(target).fadeIn(600);
  
});
</script>

